.morningBody
{
    background: rgb(248, 248, 248);
    color: rgb(50, 50, 50);
}

.lunchBody
{
    background: rgb(255, 229, 173);
}

.eveningBody
{
    background: rgb(250, 210, 123);
}

.sunsetBody
{
    background: rgb(253, 105, 47);
}

.nightBody
{
    background: #0e151f;
    color: #a2a7a0;
}

.dawnBody
{
    background: #232e30;
    color: #fcf3ee;
}



.morningArea
{
    background: rgb(255, 255, 255);
}

.lunchArea
{
    background: rgb(252, 237, 206);
}

.eveningArea
{
    background: rgb(250, 219, 154);
}

.sunsetArea
{
    background: rgb(253, 140, 47);
}

.nightArea
{
    background: #080b10;
}

.dawnArea
{
    background: #0f282c;
}